
$gray-darker: #222;
$gray-dark:  #454545; 
$gray: #777; 
$gray-light: #aeaeae; 
$gray-lighter: #ccc; 
$gray-lightest: #ededed; 
$off-white: #fafafa;
$brand-primary: #3e7dbd;
$brand-feature: #c60004;
$link-color: $brand-primary;
$link-color-hover: lighten($link-color, 15%);
 
$navbar-height: 44px;
$text-color: $gray-dark !default;
$navbar-default-color: $text-color;
$navbar-default-bg: #fff;
 
$navbar-default-link-color:        $navbar-default-color;
$navbar-default-link-hover-color:  $navbar-default-color;
$navbar-default-link-hover-bg:     darken($navbar-default-bg, 5%);
$navbar-default-link-active-color: $navbar-default-color;
$navbar-default-link-active-bg:    $navbar-default-link-hover-bg;
 
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: $gray;
$navbar-default-toggle-border-color: transparent;

 
 
$carousel-indicator-bg: #222;
$carousel-indicator-active-bg: #ccc;
$carousel-indicator-border-color: transparent;



 