/*
$gray-darker: #222;
$gray-dark:  #454545; 
$gray: #777; 
$gray-light: #aeaeae; 
$gray-lighter: #ccc; 
$gray-lightest: #ededed; 
$off-white: #fafafa;
$brand-primary: #c1ba62;
 
$link-hover-color: goldenrod;
$navbar-height: 64px;
$navbar-margin-bottom: 0;
$navbar-default-color: $gray;
$navbar-default-bg: #fff;
$navbar-default-border: $gray-light;
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-hover-color: $link-hover-color;
$navbar-default-link-hover-bg: $off-white;
$navbar-default-link-active-color: $gray-dark;
$navbar-default-link-active-bg: $gray-lightest;
$navbar-default-link-disabled-color:  $gray-lighter;
$navbar-default-link-disabled-bg:    transparent;
*/
 
$carousel-indicator-bg: #222;
$carousel-indicator-active-bg: #ccc;
$carousel-indicator-border-color: transparent;



 